{
  "openapi": "3.0.1",
  "info": {
    "title": "Diadoc API",
    "description": "# О сервисе\n\nДиадок — система обмена юридически-значимыми электронными документами между организациями.\n\nAPI Диадока — универсальный инструмент для интеграции учетных систем с Диадоком. API позволяет организации разработать собственное решение и реализовать в нем необходимую функциональность.\n\n**Точка входа для запросов:** https://diadoc-api.kontur.ru/\n\nПодробнее:\n\n- [Варианты интеграции](https://developer.kontur.ru/doc/diadoc-api/howtostart/integrationChoise.html)\n- [Возможности API](https://developer.kontur.ru/doc/diadoc-api/howtostart/overview.html)\n- [Интеграция с API](https://developer.kontur.ru/doc/diadoc-api/howtostart/integration.html)\n- [Быстрый старт](https://developer.kontur.ru/doc/diadoc-api/howtostart/quickstart.html)\n- [Политика устаревания](https://developer.kontur.ru/doc/diadoc-api/howtostart/deprecationPolicy.html)\n- [Технические особенности и передача данных](https://developer.kontur.ru/doc/diadoc-api/techinfo.html)\n- [Инструкции](https://developer.kontur.ru/doc/diadoc-api/instructions/index.html)\n- [Документооборот](https://developer.kontur.ru/doc/diadoc-api/docflows/index.html)\n\nКонтакты:\n\n- [Сайт Контур.Диадок](https://kontur.ru/diadoc)\n- [Клиентская поддержка Контур.Диадок](https://www.diadoc.ru/support)\n- [Оставить отзыв по документации](https://forms.kontur.ru/form/ddapidoc-feedback)\n\n# Аутентификация\n\nДля авторизации методам API нужна следующая информация:\n\n- Ключ разработчика — уникальный идентификатор интегратора. Чтобы получить ключ разработчика, оставьте заявку на [странице интеграции](https://www.diadoc.ru/integrations/api). Не передавайте свой ключ третьим лицам.\n- Авторизационный токен — массив байтов, однозначно идентифицирующий [пользователя](https://developer.kontur.ru/doc/diadoc-api/glossary/user.html).\n\nЭту информацию нужно передавать в стандартном HTTP-заголовке `Authorization` в соответствии со схемой аутентификации Диадока DiadocAuth со следующими параметрами:\n\n- `ddauth_api_client_id` — определяет ключ разработчика,\n- `ddauth_token` — определяет авторизационный токен.\n\nЗначения параметров в заголовке отделяются от их имен символами «=», параметры разделяются символами «,». Например:\n\n``\nAuthorization: DiadocAuth ddauth_api_client_id={{client_id}}, ddauth_token={{auth_token}}\n``\n\nПодробнее о получении авторизационного токена — на странице [Авторизация](https://developer.kontur.ru/doc/diadoc-api/Authorization.html).",
    "contact": {
      "url": "https://www.diadoc.ru/support",
      "email": "diadoc@skbkontur.ru"
    },
    "version": "1.0.67005139-d9e126d1"
  },
  "servers": [
    {
      "url": "https://diadoc-api.testkontur.ru"
    }
  ],
  "paths": {
    "/V3/Authenticate": {
      "post": {
        "tags": [
          "Авторизация"
        ],
        "summary": "/V3/Authenticate",
        "description": "Авторизует [пользователя](https://developer.kontur.ru/doc/diadoc-api/glossary/user.html) в Диадоке.\n\nВ Диадоке существуют следующие способы аутентификации:\n\n- Для аутентификации **по логину и паролю** укажите в качестве параметра запроса `type = password`. В теле запроса передайте сериализованный объект в формате JSON или protobuf:\n  \n  - Для формата JSON укажите заголовок `Content-Type: application/json`.\n  - Для формата protobuf по умолчанию десериализация происходит из protobuf.\n  \n  В теле ответа метод вернет авторизационный токен.\n\n- Для аутентификации **по сертификату** укажите в качестве параметра запроса `type = certificate`. Укажите заголовок `Content-Type: application/octet-stream`, в теле запроса передайте бинарное содержимое открытого ключа [сертификата](https://developer.kontur.ru/doc/diadoc-api/glossary/certificate.html).\n  \n  В теле ответа метод вернет зашифрованную строку. Чтобы получить из нее авторизационный токен:\n  \n  1. Расшифруйте тело ответа с помощью закрытого ключа сертификата пользователя, используя для этого сервис криптопровайдера. Для упрощения работы с API используйте [SDK](https://developer.kontur.ru/doc/diadoc-api/howtostart/integrationChoise.html#integration): он содержит реализацию механизма аутентификации по сертификату.\n  2. Полученный массив байтов закодируйте в [Base64](https://datatracker.ietf.org/doc/html/rfc3548.html)-строку.\n  3. Передайте закодированную строку в метод [AuthenticateConfirm](/doc/diadoc.api/method?type=post&path=%2FV3%2FAuthenticateConfirm), он вернет авторизационный токен.\n  \n  В теле ответа метод вернет двоичное [DER](http://www.itu.int/ITU-T/studygroups/com17/languages/X.690-0207.pdf)-представление зашифрованного токена.\n\n- Для аутентификации **по auth.sid** из других сервисов укажите в качестве параметра запроса `type = sid`. В теле запроса передайте `auth.sid` c заголовком `Content-Type: text/plain`.",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/Authenticate.html"
        },
        "operationId": "AuthenticateV3",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Способ аутентификации. Принимает значения:\n\n- `password` — по логину и паролю,\n- `certificate` — по сертификату,\n- `sid` — по auth.sid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Diadoc-ServiceKey",
            "in": "header",
            "description": "Ключ, полученный доверенным сервисом. Используется для [сохранения привязки пользователя доверенного сервиса](https://developer.kontur.ru/Doc/diadoc-api/http/AuthenticateConfirm.html#save-binding).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Diadoc-ServiceUserId",
            "in": "header",
            "description": "Идентификатор пользователя в доверенном сервисе. Используется для [сохранения привязки пользователя доверенного сервиса](https://developer.kontur.ru/Doc/diadoc-api/http/AuthenticateConfirm.html#save-binding).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Данные для входа в зависимости от способа аутентификации.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginPassword"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization`, или в этом заголовке отсутствует параметр `ddauth_api_client_id`, или переданный в нем ключ разработчика не зарегистрирован в Диадоке.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Authorization"
      }
    },
    "/V3/AuthenticateConfirm": {
      "post": {
        "tags": [
          "Авторизация"
        ],
        "summary": "/V3/AuthenticateConfirm",
        "description": "Возвращает авторизационный токен после аутентификации по [сертификату](https://developer.kontur.ru/doc/diadoc-api/glossary/certificate.html).\n\nЕсли в метод передаются одновременно сертификат и отпечаток сертификата, то используется отпечаток сертификата, а сертификат из тела запроса игнорируется.\n\nПри аутентификации по сертификату укажите параметр `saveBinding = true`. При аутентификации по логину и паролю привязка производится автоматически.",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/AuthenticateConfirm.html"
        },
        "operationId": "AuthenticateConfirmV3",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Cтрока в формате Base64, полученная после расшифровки тела ответа метода [Authenticate (V3)](/doc/diadoc.api/method?type=post&path=%2FV3%2FAuthenticate).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "thumbprint",
            "in": "query",
            "description": "Отпечаток сертификата пользователя. Если не указан, в теле запроса нужно передать сертификат пользователя в [DER-кодировке](http://www.itu.int/ITU-T/studygroups/com17/languages/X.690-0207.pdf).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "saveBinding",
            "in": "query",
            "description": "Флаг для [сохранения привязки пользователя доверенного сервиса](https://developer.kontur.ru/Doc/diadoc-api/http/AuthenticateConfirm.html#save-binding). Укажите значение `true`, если нужно сохранить привязку. По умолчанию имеет значение `false`.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "Если параметр `thumbprint` не указан, тело запроса должно содержать [X.509](https://datatracker.ietf.org/doc/html/rfc5280.html) сертификат пользователя в [DER-кодировке](http://www.itu.int/ITU-T/studygroups/com17/languages/X.690-0207.pdf). Иначе может быть пустым.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization`, или в этом заголовке отсутствует параметр `ddauth_api_client_id`, или переданный в нем ключ разработчика не зарегистрирован в Диадоке.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Authorization"
      }
    },
    "/GenerateTitleXml": {
      "post": {
        "tags": [
          "Генерация и парсинг"
        ],
        "summary": "/GenerateTitleXml",
        "description": "Генерирует файл [титула](https://developer.kontur.ru/doc/diadoc-api/glossary/title.html) любого формализованного [документа](https://developer.kontur.ru/doc/diadoc-api/glossary/document.html).",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/GenerateTitleXml.html"
        },
        "operationId": "GenerateTitleXml",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "documentTypeNamedId",
            "in": "query",
            "description": "Строковый идентификатор типа документа. Доступные типы можно получить с помощью метода [GetDocumentTypes (V3)](/doc/diadoc.api/method?type=get&path=%2FV3%2FGetDocumentTypes) — инструкция на странице [Получение информации о типе документа](https://developer.kontur.ru/doc/diadoc-api/instructions/documents/getdoctypes.html).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentFunction",
            "in": "query",
            "description": "Функция документа.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentVersion",
            "in": "query",
            "description": "Версия документа.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titleIndex",
            "in": "query",
            "description": "Числовой идентификатор [титула](https://developer.kontur.ru/doc/diadoc-api/glossary/title.html) документа.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "editingSettingId",
            "in": "query",
            "description": "Идентификатор [настройки редактирования](https://developer.kontur.ru/doc/diadoc-api/instructions/documents/editingsettings.html) содержимого документа.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "disableValidation",
            "in": "query",
            "description": "Отключение валидации полученного XML-документа по XSD-схеме данного типа документа.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "letterId",
            "in": "query",
            "description": "Идентификатор [сообщения](https://developer.kontur.ru/doc/diadoc-api/glossary/message.html), содержащего соответствующий титул отправителя. Обязателен при генерации титула получателя (`titleIndex > 0`) и необязателен в остальных случаях.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "description": "Идентификатор [документа](https://developer.kontur.ru/doc/diadoc-api/glossary/document.html), содержащего соответствующий [титул](https://developer.kontur.ru/doc/diadoc-api/glossary/title.html) отправителя. Обязателен при генерации титула получателя (`titleIndex > 0`) и необязателен в остальных случаях.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Упрощенный XML-файл UserDataXsd, соответствующий XSD-схеме контракта для генерации титула. XSD-схему контракта можно получить с помощью метода [GetDocumentTypes (V3)](/doc/diadoc.api/method?type=get&path=%2FV3%2FGetDocumentTypes) — инструкция на странице [Получение информации о типе документа](https://developer.kontur.ru/doc/diadoc-api/instructions/documents/getdoctypes.html).",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/xml; charset=windows-1251": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У указанного ящика закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет права для работы с указанным типом документа.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Generation_Parsing"
      }
    },
    "/GenerateUniversalMessage": {
      "post": {
        "tags": [
          "Генерация и парсинг"
        ],
        "summary": "/GenerateUniversalMessage",
        "description": "Генерирует файл [универсального сообщения](https://developer.kontur.ru/doc/diadoc-api/glossary/servicedoc.html#universalmessage) (УС).",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/GenerateUniversalMessage.html"
        },
        "operationId": "GenerateUniversalMessage",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "description": "Идентификатор [сообщения](https://developer.kontur.ru/doc/diadoc-api/glossary/message.html).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "attachmentId",
            "in": "query",
            "description": "Идентификатор [сущности](https://developer.kontur.ru/doc/diadoc-api/glossary/entity.html) документа, для которого нужно сгенерировать универсальное сообщение. Такой сущностью может быть:\n\n- для извещения о получении (УС с кодом 1999): титул отправителя, титул получателя или уведомление об уточнении;\n- для уведомления об уточнении (УС с кодом 2999): титул отправителя;\n- для отказа в подписи (УС с кодом 3999): титул отправителя, предложение об аннулировании.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Упрощенный XML-файл с данными для формирования универсального сообщения, соответствующий упрощенной XSD-схеме.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/xml; charset=windows-1251": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат, или отсутствуют обязательные параметры, или указаны коды УС из разных групп, или переданный XML-файл не соответствут XSD-схеме.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У указанного ящика закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ к ящику или документу с предоставленным авторизационным токеном запрещен.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Не найдены документ или сообщение с указанным идентификатором или указанная сущность имеет неверный тип.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Невозможно сформировать универсальное сообщение для указанной сущности.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Generation_Parsing"
      }
    },
    "/ParseRevocationRequestXml": {
      "post": {
        "tags": [
          "Генерация и парсинг"
        ],
        "summary": "/ParseRevocationRequestXml",
        "description": "Парсит файл [предложения об аннулировании](https://developer.kontur.ru/doc/diadoc-api/glossary/servicedoc.html#revocationrequest).",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/ParseRevocationRequestXml.html"
        },
        "operationId": "ParseRevocationRequestXml",
        "requestBody": {
          "description": "XML-файл предложения об аннулировании, соответствующий XSD-схеме.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicingRevocationRequestInfo"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Generation_Parsing"
      }
    },
    "/ParseSignatureRejectionXml": {
      "post": {
        "tags": [
          "Генерация и парсинг"
        ],
        "summary": "/ParseSignatureRejectionXml",
        "description": "Парсит файл [отказа в подписи](https://developer.kontur.ru/doc/diadoc-api/glossary/servicedoc.html#signaturerejection).",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/ParseSignatureRejectionXml.html"
        },
        "operationId": "ParseSignatureRejectionXml",
        "requestBody": {
          "description": "XML-файл отказа в подписи, соответствующий XSD-схеме.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureRejectionInfo"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Generation_Parsing"
      }
    },
    "/ParseTitleXml": {
      "post": {
        "tags": [
          "Генерация и парсинг"
        ],
        "summary": "/ParseTitleXml",
        "description": "Парсит файл [титула](https://developer.kontur.ru/doc/diadoc-api/glossary/title.html) любого формализованного [документа](https://developer.kontur.ru/doc/diadoc-api/glossary/document.html).",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/ParseTitleXml.html"
        },
        "operationId": "ParseTitleXml",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "documentTypeNamedId",
            "in": "query",
            "description": "Строковый идентификатор типа документа.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentFunction",
            "in": "query",
            "description": "Функция документа.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentVersion",
            "in": "query",
            "description": "Версия документа.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "titleIndex",
            "in": "query",
            "description": "Числовой идентификатор [титула](https://developer.kontur.ru/doc/diadoc-api/glossary/title.html) документа.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "XML-файл титула, соответствующий XSD-схеме. Получить XSD-схему титула можно с помощью метода [GetDocumentTypes (V3)](/doc/diadoc.api/method?type=get&path=%2FV3%2FGetDocumentTypes) — инструкция на странице [Получение информации о типе документа](https://developer.kontur.ru/doc/diadoc-api/instructions/documents/getdoctypes.html).",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У указанного ящика закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ к ящику с предоставленным авторизационным токеном запрещен.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Generation_Parsing"
      }
    },
    "/ParseUniversalMessage": {
      "post": {
        "tags": [
          "Генерация и парсинг"
        ],
        "summary": "/ParseUniversalMessage",
        "description": "Парсит файл [универсального сообщения](https://developer.kontur.ru/doc/diadoc-api/glossary/servicedoc.html#universalmessage) (УС).",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/ParseUniversalMessage.html"
        },
        "operationId": "ParseUniversalMessage",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "description": "Идентификатор [сообщения](https://developer.kontur.ru/doc/diadoc-api/glossary/message.html).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "attachmentId",
            "in": "query",
            "description": "Идентификатор [сущности](https://developer.kontur.ru/doc/diadoc-api/glossary/entity.html) универсального сообщения внутри сообщения.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Операция успешно завершена."
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У организации с указанным идентификатором `myBoxId` закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ к ящику с предоставленным авторизационным токеном запрещен.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Generation_Parsing"
      }
    },
    "/ParseUniversalMessageXml": {
      "post": {
        "tags": [
          "Генерация и парсинг"
        ],
        "summary": "/ParseUniversalMessageXml",
        "description": "Парсит файл [универсального сообщения](https://developer.kontur.ru/doc/diadoc-api/glossary/servicedoc.html#universalmessage) (УС).",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/ParseUniversalMessageXml.html"
        },
        "operationId": "ParseUniversalMessageXml",
        "requestBody": {
          "description": "XML-файл универсального сообщения, соответствующий XSD-схеме.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена."
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Generation_Parsing"
      }
    },
    "/V2/GenerateInvoiceCorrectionRequestXml": {
      "post": {
        "tags": [
          "Генерация и парсинг"
        ],
        "summary": "/V2/GenerateInvoiceCorrectionRequestXml",
        "description": "Генерирует файл [уведомления об уточнении (УоУ)](https://developer.kontur.ru/doc/diadoc-api/glossary/servicedoc.html#correctionrequest).",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/GenerateInvoiceCorrectionRequestXml.html"
        },
        "operationId": "GenerateInvoiceCorrectionRequestXmlV2",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Запрос на формирование уведомления об уточнении.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceCorrectionRequestGenerationRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/xml; charset=windows-1251": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У указанного ящика закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ к ящику с предоставленным авторизационным токеном запрещен.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Не найдены документ или сообщение с указанным идентификатором, или указанная сущность имеет неверный тип, или у указанной сущности нет дочерней сущности типа `Signature`.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Невозможно сформировать уведомление об уточнении.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Generation_Parsing"
      }
    },
    "/V2/GenerateReceiptXml": {
      "post": {
        "tags": [
          "Генерация и парсинг"
        ],
        "summary": "/V2/GenerateReceiptXml",
        "description": "Генерирует файл [извещения о получении (ИоП)](https://developer.kontur.ru/doc/diadoc-api/glossary/servicedoc.html#receipt).",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/GenerateReceiptXml.html"
        },
        "operationId": "GenerateReceiptXmlV2",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Запрос на формирование извещения о получении.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiptGenerationRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/xml; charset=windows-1251": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У указанного ящика закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ к ящику с предоставленным авторизационным токеном запрещен.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Невозможно сформировать извещения о получении для указанной сущности.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Generation_Parsing"
      }
    },
    "/V2/GenerateRevocationRequestXml": {
      "post": {
        "tags": [
          "Генерация и парсинг"
        ],
        "summary": "/V2/GenerateRevocationRequestXml",
        "description": "Генерирует файл [предложения об аннулировании](https://developer.kontur.ru/doc/diadoc-api/glossary/servicedoc.html#revocationrequest).",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/GenerateRevocationRequestXml.html"
        },
        "operationId": "GenerateRevocationRequestXmlV2",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "description": "Идентификатор [сообщения](https://developer.kontur.ru/doc/diadoc-api/glossary/message.html).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "attachmentId",
            "in": "query",
            "description": "Идентификатор [сущности](https://developer.kontur.ru/doc/diadoc-api/glossary/entity.html) документа, для которого нужно сгенерировать предложение об аннулировании.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "contentTypeId",
            "in": "query",
            "description": "Версия предложения об аннулировании, которое нужно сгенерировать. Принимает значения:\n\n- `revocation_request_01` — для предложения об аннулировании версии 1.01,\n- `revocation_request_02` — для предложения об аннулировании версии 1.02.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Данные для генерации предложения об аннулирования документа",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoicingRevocationRequestInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/xml; charset=windows-1251": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У указанного ящика закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ к ящику с предоставленным авторизационным токеном запрещен.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Не найдены документ или сообщение с указанным идентификатором, или указанная сущность имеет неверный тип, или у указанной сущности нет дочерней сущности типа `Signature`.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Невозможно сформировать предложение об аннулировании.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Generation_Parsing"
      }
    },
    "/V2/GenerateSignatureRejectionXml": {
      "post": {
        "tags": [
          "Генерация и парсинг"
        ],
        "summary": "/V2/GenerateSignatureRejectionXml",
        "description": "Генерирует файл [отказа в подписи](https://developer.kontur.ru/doc/diadoc-api/glossary/servicedoc.html#signaturerejection) для документа или отказа от предложения об аннулировании документа.",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/GenerateSignatureRejectionXml.html"
        },
        "operationId": "GenerateSignatureRejectionXmlV2",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Запрос на формирование отказа от подписи для документа или отказа от предложения об аннулировании документа.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatureRejectionGenerationRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/xml; charset=windows-1251": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У указанного ящика закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ к ящику с предоставленным авторизационным токеном запрещен.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Не найдены документ или сообщение с указанным идентификатором, или указанная сущность имеет неверный тип, или у указанной сущности нет дочерней сущности типа `Signature`.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "409": {
            "description": "Невозможно сформировать отказ.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Generation_Parsing"
      }
    },
    "/V3/GetDocflowEvents": {
      "post": {
        "tags": [
          "Документооборот"
        ],
        "summary": "/V3/GetDocflowEvents",
        "description": "Возвращает список событий, произошедших с [документами](https://developer.kontur.ru/doc/diadoc-api/glossary/document.html).",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/GetDocflowEvents_V3.html"
        },
        "operationId": "GetDocflowEventsV3",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Запрос на получение событий.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocflowEventsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocflowEventsResponseV3"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У указанного ящика закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ к ящику с предоставленным авторизационным токеном запрещен.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Docflows"
      }
    },
    "/V3/GetDocflows": {
      "post": {
        "tags": [
          "Документооборот"
        ],
        "summary": "/V3/GetDocflows",
        "description": "Возвращает список [документов](https://developer.kontur.ru/doc/diadoc-api/glossary/document.html) с информацией о документообороте по их идентификаторам.",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/GetDocflows_V3.html"
        },
        "operationId": "GetDocflowsV3",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Список запросов на получение документов с информацией о документообороте.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocflowBatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocflowBatchResponseV3"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У указанного ящика закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ к ящику с предоставленным авторизационным токеном запрещен или у пользователя нет прав для доступа ко всем документам организации.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "В указанном ящике нет документов с указанными идентификаторами.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Docflows"
      }
    },
    "/V3/GetDocflowsByPacketId": {
      "post": {
        "tags": [
          "Документооборот"
        ],
        "summary": "/V3/GetDocflowsByPacketId",
        "description": "Возвращает список [документов](https://developer.kontur.ru/doc/diadoc-api/glossary/document.html), находящихся в [пакете](https://developer.kontur.ru/doc/diadoc-api/glossary/packet.html).",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/GetDocflowsByPacketId_V3.html"
        },
        "operationId": "GetDocflowsByPacketIdV3",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Запрос на получение документов с информацией о документообороте.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocflowsByPacketIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocflowsByPacketIdResponseV3"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У указанного ящика закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ к ящику с предоставленным авторизационным токеном запрещен.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Docflows"
      }
    },
    "/V3/SearchDocflows": {
      "post": {
        "tags": [
          "Документооборот"
        ],
        "summary": "/V3/SearchDocflows",
        "description": "Выполняет поиск [документов](https://developer.kontur.ru/doc/diadoc-api/glossary/document.html) по строке запроса.",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/SearchDocflows_V3.html"
        },
        "operationId": "SearchDocflowsV3",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Запрос на поиск документов с информацией о документообороте.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDocflowsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchDocflowsResponseV3"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У указанного ящика закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ к ящику с предоставленным авторизационным токеном запрещен.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Docflows"
      }
    },
    "/V4/GetDocflowEvents": {
      "post": {
        "tags": [
          "Документооборот"
        ],
        "summary": "/V4/GetDocflowEvents",
        "description": "Возвращает список событий, произошедших с [документами](https://developer.kontur.ru/doc/diadoc-api/glossary/document.html).",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/GetDocflowEvents_V4.html"
        },
        "operationId": "GetDocflowEventsV4",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Запрос на получение событий.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocflowEventsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocflowEventsResponseV4"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У указанного ящика закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Доступ к ящику с предоставленным авторизационным токеном запрещен.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "description": "Используется неподходящий HTTP-метод.",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "При обработке запроса возникла непредвиденная ошибка.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "openid_connect": []
          },
          {
            "diadoc.ddtoken": []
          }
        ],
        "x-operation-group": "Docflows"
      }
    },
    "/V4/GetDocflows": {
      "post": {
        "tags": [
          "Документооборот"
        ],
        "summary": "/V4/GetDocflows",
        "description": "Возвращает список [документов](https://developer.kontur.ru/doc/diadoc-api/glossary/document.html) с информацией о документообороте по их идентификаторам.",
        "externalDocs": {
          "description": "Описание метода",
          "url": "https://developer.kontur.ru/doc/diadoc-api/http/GetDocflows_V4.html"
        },
        "operationId": "GetDocflowsV4",
        "parameters": [
          {
            "name": "boxId",
            "in": "query",
            "description": "Идентификатор [ящика](https://developer.kontur.ru/doc/diadoc-api/glossary/box.html) организации в формате GUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Список запросов на получение документов с информацией о документообороте.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocflowBatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Операция успешно завершена.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocflowBatchResponseV4"
                }
              }
            }
          },
          "400": {
            "description": "Данные в запросе имеют неверный формат или отсутствуют обязательные параметры.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "В запросе отсутствует HTTP-заголовок `Authorization` или в этом заголовке содержатся некорректные авторизационные данные.",
            "headers": {
              "WWW-Authenticate": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "У указанного ящика закончилась подписка на API.",
            "headers": {
              "X-Diadoc-ErrorCode": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
[...]
